
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    justify-content: center;
   
}
.formulario{
    border: solid black ;
}

.formulario {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 95%;
    justify-items: center;
}
.genero{
    display: flex;
    flex-direction: row;
}


h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}
label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
}

input:focus, select:focus {
    border-color: #E03C31;
    outline: none;
}

button {
    background-color:  #E03C31;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #7b221c;
}

