body{
    width: 100%;
    
}
.logo{
    background-color: #E03C31;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;

}
.logo img{
    width: 20%;
}

  

.divPeliculas{
    width: 100%;
    display: flex;
    column-gap: 1%;
    justify-content: space-around;
    margin-bottom: 15%;
}
.divPeliculas article{
    width: 50%;
    height: 650px;
    margin: 0%;
    

}
.peliculas p{
    overflow: auto;
    height: 240px;
    padding-top: 0%;
    scrollbar-width: none;
}
.peliFotos{
    width: 100%;
    height: 300px;
    object-fit:fill;
 
}
.actores{
    display: flex;
    text-align: justify;
    column-gap: 4%;
    color: aliceblue;
    background-color: black;
    text-align: center;
    
}

.actores img{
    width: 13vw;
    height: 13vw;
    border-radius: 70%;
    padding-top: 5%;

}

.fotosSeries{
    width: 100%;
    height: 400px;
    
}

.series{
    width: 100%;
    display: flex;
    column-gap: 1%;
    justify-content: space-around;
    margin-bottom: 15%;
    flex-wrap: wrap;

}
.series article{
    width: 30%;
    /*height: 650px;*/
    padding-bottom: 10%; 

}
.series p{
    overflow: auto;
    height: 240px;
    padding-top: 0%;
    scrollbar-width: none;
   
}
aside{
    width: 30%;
}
.asideYSeries{
    display: flex;

    
}

.asideYSeries section{
    width: 65%;
}
footer{
    text-align: center;
    display: flex;
    justify-content: space-between;

}
footer ul img{
    width: 30px;
    height: 30px;
   
    
}
footer ul{
    display: flex;
    list-style: none;
    gap: 3px;
}

 
h2{
    color: #E03C31;
    margin-bottom: 0%;
    padding-bottom: 0%;
    text-align: center;
}
h3{
    background-color: #E03C31;
    margin: 0%;
    border-top: 0%;
    border: solid black;
   
}   
.menu{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    background-color: #E03C31;
    margin: 0%;
    
}
.masVisto{
    display: flex;
}
.masVisto article img{
    width: 150px;
    z-index: 1;

}
.masVisto article .pos{
    width: 100px;
    height: 120px;
    z-index: 2;
    
}
