body{
    width: 100%;
    
}


.logo{
    background-color: #E03C31;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;

}
.logo img{
    width: 20%;
}

.peliculas article{
    width: 20%;
    height: 600px;
    margin: 0%;
    background-color: red;

}
.peliculas p{
    overflow: auto;
    height: 23%;
    padding-top: 0%;
    scrollbar-width: none;
}
.peliFotos{
    width: 100%;
    height: 350px;
    object-fit:fill;
    
    
}

section div{
    display: flex;
    column-gap: 1%;
    justify-content: space-around;
    margin-bottom: 15%;
    
    
}

.actores{
    display: flex;
    text-align: justify;
    column-gap: 20px;
    color: aliceblue;
    background-color: black;
    text-align: center;
    
}

.actores img{
    width: 13vw;
    height: 13vw;
    border-radius: 70%;
    padding-top: 5%;

}


ul{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    background-color: #E03C31;
    margin: 0%;
    
}
   
h2{
    color: #E03C31;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
h3{
    background-color: #E03C31;
    margin: 0%;
    border-top: 0%;
    border: solid black;
}   